<h3>Welcome to the best online shop!</h3>
<div class="form-group">
        <label>Products: </label>
        <a class="btn btn-secondary" href="/product/list">View Products</a>
        <label>Users: </label>
        <a class="btn btn-secondary" href="/user/list">View Users</a>
</div>
<div class="form-group">
        <a class="btn btn-primary btn-sm" href="/user/login">Login</a>
        <a class="btn btn-primary btn-sm" href="/user/register">Register</a>
</div>

        